<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mali&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Contact</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            font-family: 'Poppins',Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        .bg-image {
            /* The image used */
            background-image: url(<%= asset_path 'bg.jpg' %>);

            /* Add the blur effect */
            filter: blur(4px);
            -webkit-filter: blur(4px);

            /* Full height */
            height: 100%;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        /* Position text in the middle of the page/image */
        .bg-text {
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
            color: white;
            font-weight: bold;
            border: 3px solid #f1f1f1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            width: 80%;
            padding: 20px;
            text-align: center;
        }

        .nav{
            color: white;
            font-weight: lighter;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
            text-align: center;
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0, 0.1); /* Black w/opacity/see-through */
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        ol {
            float: left;
        }

        ol a {
            display: block;
            color: white;
            text-align: center;
            padding: 10px 12px;
            text-decoration: none;
            font-size: 20px;
            margin-left: 20px;
            margin-top: 0;
        }

        ol a:hover:not(.active) {
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
        }

        #aboutnav{
            float: right;
            padding-right: 40px;
        }
        .act{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-column-gap: 10px;
        }
    </style>
</head>
<body>

<div class="nav">
    <ol><a href="static.html">Home</a></ol>
    <ol><a href="howto.html">How to</a></ol>
    <ol><a href="contact.html">Contact</a></ol>
    <ol id="aboutnav"><a href="about.html" >About</a></ol>
</div>
<div class="bg-image"></div>
<div class="bg-text ">
    <h1 style="font-size:50px;font-weight: lighter;"> Contact us</h1>
    <div class="act">
        <div>
            <h2  style="font-size: 25px; margin-left: 110px; font-weight: lighter;">Team Members</h2>
            <pre class="font" style="margin-left: 0;font-weight: lighter;font-size: 18px;">
                        &nbsp1.&nbspSasithon &nbsp&nbspKaprasit      &nbsp&nbsp6010520143<br>
                        &nbsp2.&nbspNatthida &nbsp&nbspPanya          &nbsp6010613385<br>
                        &nbsp3.&nbspPinkaew  &nbspHorputra     &nbsp&nbsp&nbsp6010613401<br>
                        4.&nbspSujittra &nbsp&nbsp&nbspPuangarom  &nbsp&nbsp&nbsp6010613567<br><br>
                            </pre>
        </div>

        <div style="margin-top: 20px">
            <p class="font" style="font-size: 18px;margin-left: 100px"><a href="https://gitlab.com/6010613385/im_in"target="_blank"><%= image_tag("gitlab.png", size: "50x50", align:"middle")%></a>&nbsp&nbsplink to git repository</p>
            <p class="font" style="font-size: 18px;margin-left: 100px"><a href="https://www.pivotaltracker.com/n/projects/2406136"target="_blank"><%= image_tag("pi.png", size: "50x50", align:"middle")%></a>&nbsp&nbsplink to pivotal tracker </p>
            <p style="font-family: 'Mali', sans-serif"><i class='fas fa-map-marker-alt' style='font-size:36px'></i>&nbsp;&nbsp;99 หมู่ 18 ถ.พหลโยธิน คลองหลวง รังสิต ปทุมธานี 12121 ประเทศไทย </p>
        </div>

        </pre>
    </div>
</div>
</body>
</html>
