<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <title>How to</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            font-family: 'Poppins',Helvetica, sans-serif;
            display: grid;
            grid-template-rows: 100% 100% 100% 100% 100% 100% 100% 100%;
        }

        * {
            box-sizing: border-box;
        }

        #howto{
            background-image: url(<%= asset_path 'bghowto.jpg' %>);
        }
        .bg-image {
            /* The image used */


            /* Add the blur effect */
            filter: blur(4px);
            -webkit-filter: blur(4px);

            /* Full height */
            height: 100%;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        /* Position text in the middle of the page/image */
        .bg-text {
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
            color: white;
            font-weight: bold;
            border: 3px solid #f1f1f1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            width: 80%;
            padding: 20px;
            text-align: center;
        }

        .nav{
            color: white;
            font-weight: lighter;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
            text-align: center;
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        ol {
            float: left;
        }

        ol a {
            display: block;
            color: white;
            text-align: center;
            padding: 10px 12px;
            text-decoration: none;
            font-size: 20px;
            margin-left: 20px;
            margin-top: 0;
        }

        ol a:hover:not(.active) {
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
        }

        #aboutnav{
            float: right;
            padding-right: 40px;
        }
        .img{
            height: 500px;
            width: 350px;
        }
        .lofi{
            display: grid;
            grid-template-columns: auto auto auto;
            height: 250px;
            width: 200px;
            grid-column-gap: 55px;
            margin: 0;

        }
        .lofi2{
            display: grid;
            grid-template-columns: auto auto ;
            height: 250px;
            width: 200px;
            grid-column-gap: 70%;
            margin-left: 15%;
        }
        p{
            font-weight: lighter;
        }
        #signupdone{
            background-image: url(<%= asset_path 'jens-johnsson-Ae5jmF2PJXg-unsplash.jpg' %>);
        }
        #signup{
            background-image: url(<%= asset_path 'daria-shevtsova-k_RYBedEvDw-unsplash.jpg' %>);
        }
        #newevent{
            background-image: url(<%= asset_path 'austin-distel-wD1LRb9OeEo-unsplash.jpg' %>);
        }
        #joinchat{
            background-image: url(<%= asset_path 'phil-coffman-anV_zgNDZhc-unsplash.jpg' %>);
        }
        #changeprofile{
            background-image: url(<%= asset_path 'robert-bye-4hcpIbqQM8c-unsplash.jpg' %>);
        }
        #report{
            background-image: url(<%= asset_path 'jens-johnsson-apz-nFR0NlQ-unsplash.jpg' %>);
        }
        #done{
            background-image: url(<%= asset_path 'anthony-delanoix-hzgs56Ze49s-unsplash.jpg' %>);
        }
    </style>
</head>
<body>
<div>
    <div class="nav">
        <ol><a href="static.html">Home</a></ol>
        <ol><a href="howto.html">How to</a></ol>
        <ol><a href="contact.html">Contact</a></ol>
        <ol id="aboutnav"><a href="about.html" >About</a></ol>
    </div>
    <div class="bg-image" id="howto">
    </div>
    <div class="bg-text">
        <p style="font-size:50px;font-weight: lighter;"> HOW &nbsp;TO </p>
    </div>
</div>
<div>
    <div class="bg-image" id="signup"></div>
    <div style="top: 150%;height: 700px" class="bg-text">
        <div >
            <p style="font-size: 40px;text-align: center;margin-top:0;margin-bottom: 5%;padding: 0">1 st step : Create an account</p>
        </div>
        <div style="margin-bottom: 150px;">
            <div class="lofi" style="margin-top: 100px;">

                    <%= image_tag("1.png", :class => "img") %>
                    <%= image_tag("2.png", :class => "img") %>
                    <%= image_tag("3.png", :class => "img") %>

            </div>
        </div>
    </div>
</div>
<div>
    <div class="bg-image" id="signupdone"></div>
    <div style="top: 250%;height: 700px" class="bg-text">
        <div >
            <p style="font-size: 40px;text-align: center;margin-top:0;margin-bottom: 5%;padding: 0"> Now You're on " I am in " already!</p>
        </div>
        <div style="margin-bottom: 150px;">
            <div class="lofi" style="margin-bottom: 0;">
                <div class="img"></div>
                <%= image_tag("7.png", :class => "img") %>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="bg-image" id="newevent"></div>
    <div style="top: 350%;height: 700px" class="bg-text">
        <div >
            <p style="font-size: 40px;text-align: center;margin-top:0;padding: 0"> 2 nd step : Create new event </p>
        </div>
        <div style="margin-bottom: 150px;">
            <div class="lofi" style="margin-bottom: 0;">
                <div class="img"></div>
                <%= image_tag("4.png", :class => "img") %>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="bg-image" id="joinchat"></div>
    <div style="top: 450%;height: 700px" class="bg-text">
        <div >
            <p style="font-size: 40px;text-align: center;margin-top:0;margin-bottom: 5%;padding: 0"> 3 rd step : Click " join chat! " to communicate with others</p>
        </div>
        <div style="margin-bottom: 150px;">
            <div class="lofi2" style="margin-bottom: 0;">
                <%= image_tag("8.png", :class => "img") %>
                <%= image_tag("5.png", :class => "img") %>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="bg-image" id="changeprofile"></div>
    <div style="top: 550%;height: 700px" class="bg-text">
        <div >
            <p style="font-size: 40px;text-align: center;margin-top:0;margin-bottom: 5%;padding: 0"> 4 th step : You can change your profile detail</p>
        </div>
        <div style="margin-bottom: 150px;">
            <div class="lofi2" style="margin-bottom: 0;">
                <%= image_tag("9.png", :class => "img") %>
                <%= image_tag("10.png", :class => "img imgcen") %>

            </div>
        </div>
    </div>
</div>
<div>
    <div class="bg-image" id="report"></div>
    <div style="top: 650%;height: 700px" class="bg-text">
        <div >
            <p style="font-size: 40px;text-align: center;margin-top:0;padding: 0"> Report a user </p>
        </div>
        <div style="margin-bottom: 150px;">
            <div class="lofi" style="margin-bottom: 0;">
                <div class="img"></div>
                <%= image_tag("6.png", :class => "img") %>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="bg-image" id="done"></div>
    <div style="top: 750%;height: 700px" class="bg-text">
        <div >
            <p style="font-size: 40px;text-align: center;margin-top:0;padding: 0">  </p>
        </div>
        <div class="bg-text">
            <p style="font-size:25px;font-weight: lighter;"> “Make your hi story more powerful than your history.”</p><br>
            <p style="font-size:15px;font-weight: lighter;">Robert J. Braathe</p>
        </div>
    </div>
</div>
</body>
</html>
