<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <title>i'm in Project</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            font-family: 'Poppins',Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        .bg-image {
            /* The image used */
            
            background-image:  url(<%= asset_path 'bg.jpg' %>);

            /* Add the blur effect */
            filter: blur(4px);
            -webkit-filter: blur(4px);

            /* Full height */
            height: 100%;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        /* Position text in the middle of the page/image */
        .bg-text {
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
            color: white;
            font-weight: bold;
            border: 3px solid #f1f1f1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            width: 80%;
            padding: 20px;
            text-align: center;
        }

        .nav{
            color: white;
            font-weight: lighter;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
            text-align: center;
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0, 0.1); /* Black w/opacity/see-through */
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        ol {
            float: left;
        }

        ol a {
            display: block;
            color: white;
            text-align: center;
            padding: 10px 12px;
            text-decoration: none;
            font-size: 20px;
            margin-left: 20px;
            margin-top: 0;
        }

        ol a:hover:not(.active) {
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
        }

        #aboutnav{
            float: right;
            padding-right: 40px;
        }
    </style>
</head>
<body>

<div class="nav">
    <ol><a href="static.html">Home</a></ol>
    <ol><a href="howto.html">How to</a></ol>
    <ol><a href="contact.html">Contact</a></ol>
    <ol><a href="homepage.html">Events</a></ol>
    <ol><a href="registers/new">Register</a></a></ol>
    <ol><a href="login#index">Login</a></ol>
    <ol><a href="home#index">member</a></ol>
    
    <ol id="aboutnav"><a href="about.html" >About</a></ol>
    
</div>
<div class="bg-image"></div>
<div class="bg-text">
    <h1 style="font-size:50px"> I am in  Project</h1>
    <p style="font-size: 20px; font-weight: lighter;">cn 340 software engineering</p>
    <div > I'm in Home
        <p><a href="events#index">Events</a></p><br>
        <p><a href="reports#index">Reports</a></p><br>
        <p><a href="registers#index">Members</a></p><br>
        <p><a href="comments#show">Members</a></p><br>
    <div>
</div>

</body>
</html>
