<p id="alert"><%= alert %></p>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <a href = login><h2 class="active"> Sign In </h2></a>
    <a href = signup><h2 class="inactive underlineHover">Sign Up </h2></a>

    <!-- Icon -->
    <div class="fadeIn first">
      <%= image_tag("user(1).png", :id => "icon") %>
    </div>

    <!-- Login Form -->
    <%= form_tag sessions_path do |form| %>
        <div class=" fadeIn second field">
          <%= text_field_tag(:email, "", placeholder: "E-mail")%>
        </div>
        <div class=" fadeIn third field">
          <%= password_field_tag(:password, "", placeholder: "Password") %>
        </div><br>
        <div class="actions">
          <%= submit_tag "Login",:class =>"fadeIn fourth" %> <br>
        </div>
    <% end %>

  </div>
</div>