<p id="alert"><%= alert %></p>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <a href = login><h2 class="inactive underlineHover"> Sign In </h2></a>
    <a href = registers/new><h2 class="active">Sign Up </h2></a>

    <!-- Icon -->
    <div class="fadeIn first">
      <%= image_tag("user(1).png", :id => "icon2") %>
    </div>

    <%= form_for @register do |f| %>
      <% if @register.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= "#{pluralize(@register.errors.count, "error")} prohibited this register from being saved:" %>
          </h2>
          <ul>
            <% @register.errors.full_messages.each do |message| %>
              <li>
                <%= message %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class=" fadeIn second field">
          <%= f.text_field :username, required: true, placeholder: "Username" %>
      </div>
      <div class=" fadeIn third field">
          <%= f.text_field :email, required: true, placeholder: "E-mail" %>
      </div>
      <div class=" fadeIn third field">
          <%= f.password_field :password, required: true, placeholder: "Passowrd" %>
      </div>
      <div class=" fadeIn third field">
          <%= f.password_field :password_confirmation, required: true, placeholder: "Password confirmation" %>
      </div>
      <div class=" fadeIn third field">
          <%= f.text_field :phone, autofocus: true, required: true, placeholder: "Phone" %>
      </div>
      <div class="actions">
          <%= submit_tag "JOIN NOW",:class =>"fadeIn fourth" %> 
      </div>
    <% end %>
  </div>
</div>