%h1 Listing registers

%table
  %thead
    %tr
      %th Email
      %th Username
      %th Phone
      %th Image
      %th
      %th
      %th

  %tbody
    - @registers.each do |register|
      %tr
        %td= register.email
        %td= register.username
        %td= register.phone
        %td= image_tag register.image_url.to_s,style:"height: 100px; width: 100px;"
        %td= link_to 'Show', register
        %td= link_to 'Edit', edit_register_path(register)
        %td= link_to 'Destroy', register, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Register', new_register_path

= link_to 'back', root_url


