<html>
  <head>
    <title> Account </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
  </head>
  <body>
      <p id="notice"><%= notice %></p>
          <% if current_user %>
            <div class="center">
              <p class="font">General Account Settings</p><br><br>
                <%= image_tag current_user.image_url.to_s,style:"height: 100px; width: 100px;" %><br>
                Username : <%= current_user.username %><br>
                Email    : <%= current_user.email %><br>
                Phone    : <%= current_user.phone %><br>
                <%= link_to "Log Out", logout_path %>
                <%= link_to "Destroy",current_user, method: :delete, data: { confirm: 'Are you sure?' } %>
                <%= link_to "Edit", edit_register_path(current_user) %>
                <%= link_to "Back", homeevent_path %>
            </div>
          <% else %>
            <%= link_to "Sign Up", signup_path  %> or
            <%= link_to "Log In", login_path %>
          <% end %>

  </body>

</html>