= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :category
    = f.select :category,['food','concert','movie','sport','travel','game','university','Etc.']
  .field
    = f.label :description
    = f.text_area :description , maxlength: 255, size: 15
  .field
    = f.label :by
    = f.text_field :by
  .field
    = f.label :start
    = f.date_select :start
  .field
    = f.label :end
    = f.date_select  :end
  .field
    = f.label :phone
    = f.text_field :phone
  .actions
    = f.submit 'Save'
