<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 

  </head>
  <body>
    <% @events.each do |event| %>
  <div class="link row clearfix font">
    <h2>
      <div >
        <%= link_to event.title, event %>
        #<%= event.category %><br><br>
      </div>
    </h2>
  </div>
  <% end %>
  </body>
</html>
