%p#notice= notice

%p
  %b Title:
  = @event.title
%p
  %b Category:
  = @event.category
%p
  %b Description:
  = @event.description
%p
  %b By:
  = @event.by
%p
  %b Start:
  = @event.start
%p
  %b End:
  = @event.end
%p
  %b Phone:
  = @event.phone
 


//= link_to 'Add Comment', new_event_comment_path(@event)
= link_to 'Edit', edit_event_path(@event)
= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' }
/*= link_to 'Back', events_path
= link_to 'Back',homeevent_path
