<!DOCTYPE html>
<html>
<head>
  <title>imin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <div id="logo" class="navbar-brand"><%= link_to "I AM IN", root_path %></div>
        <nav class="collapse navbar-collapse navbar-ex1-collapse">
          <% if current_user %>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'Post', new_event_path %></li>
              <li><%= link_to 'Account', account_path %></li>
              <li><%= link_to "Sign out", logout_path %></li>
            </ul>
          <% else %>
            <ul class="nav navbar-nav pull-right">
              <li><%= link_to "Sign Up", signup_path %></li>
              <li><%= link_to "Sign in", login_path %></li>
            </ul>
          <% end %>
        </nav>
      </div>
    </div>
  </header>
      
    
    <div id="main_content" class="container">
        <% flash.each do |name, msg| %>
          <%= content_tag(:div, msg, class: "alert alert-info") %>
        <% end %>
        <div id="content" class="col-md-9 center-block">
            <%= yield %>
          </div>
        </div>
</body>
</html>